/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
 @import 'https://www.nerdfonts.com/assets/css/webfont.css';

 i {
   color: rgba(168, 62, 62, 0.95);
   margin-right: 7px;
 }
 
 body {
   color: rgba(255, 255, 255, 0.95);
   font-family: ui-monospace, monospace;
   font-size: 12px;
   overflow: hidden;
 }
 
 div,
 span,
 p {
   cursor: crosshair;
   user-select: none;
 }
 
 html,
 body,
 #root {
   height: 100%;
 }
 
 .border {
   border: 2px solid rgba(0, 0, 0, 0.851);
   border-radius: 20em;
   background: linear-gradient(rgba(24, 0, 0, 0.921), rgba(190, 4, 4, 0.493));
 }
 .border2 {
   border: 2px solid rgba(168, 62, 62, 0.95);
   border-radius: 20em;
   line-height: 1;
   padding: 4px 8px;
   margin-right: 2px;
   margin-left: 2px;
   background: linear-gradient(rgb(33, 28, 28), rgb(60, 54, 54));
   height:25px;
   transition: 0.5s ease-in-out;
 }
 .border3 {
   border: 2px solid rgba(168, 62, 62, 0.95);
   border-radius: 20em;
   background: linear-gradient(rgba(24, 0, 0, 0.921), rgba(190, 4, 4, 0.493));
   height:25px;
 }
 
 .app {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 100%;
   padding: 4px 1.5vw;
   font-family: ui-monospace, monospace; 
   font-size: 14px;
   font-weight: 300;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 
 }
 
 .left,
 .center,
 .right {
   display: flex;
   align-items: center;
   white-space: nowrap;
 }
 
 .center {
   justify-self: center;
 }
 
 .right {
   justify-self: end;
   margin-left: 20px;
 }
 
 .logo,
 .paused-button,
 .network,
 .memory,
 .cpu,
 .battery {
   margin-right: 20px;
 }
 
 .binding-mode,
 .tiling-direction {
   margin-left: 3px;
   margin-right: 5px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 
 .workspaces {
   display: flex;
   align-items: center;
 }
 
 .workspace {
   border: 2px solid rgba(168, 62, 62, 0.95);
   background: rgba(168, 62, 62, 0.95); 
   margin-right: 4px;
   padding: 4px 8px;
   color: rgb(255 255 255 / 90%);
   border-radius: 2px;
   cursor: pointer;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   border-color: 1px black;
 
 
 
   &.displayed {
     background: rgb(255 255 255 / 15%);
   }
 
   &.focused,
   &:hover {
     background: rgb(193, 0, 0, 0.95);
   }
 }
 
 .binding-mode,
 .tiling-direction,
 .paused-button {
   border: 2px solid rgba(168, 62, 62, 0.95);
   color: rgb(255 255 255 / 90%);
   border-radius: 2px;
   line-height: 1;
   padding: 4px 8px;
   cursor: pointer;
   border-color: 1px black;
   background: linear-gradient(rgb(33, 28, 28), rgb(60, 54, 54));
 
 }
 
 .binding-mode {
   margin-right: 4px;
 }
 
 .cpu .high-usage {
   color: #900029;
 }
 
 .battery {
   position: relative;
 }
 
 .mediaStuff {
   position: absolute;
   left: 300px;
   top: 11px;
 }
 
 .battery .charging-icon {
   position: absolute;
   font-size: 7px;
   left: -8px;
   top: 3px;
 }
 
 /* From Uiverse.io by zymantas-katinas */ 
 .button {
   position: relative;
   border: none;
   background: transparent;
   padding: 3;
   outline: none;
   cursor: pointer;
   font-family: sans-serif;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 
 /* General styling for media buttons */
 .media-button {
   border: 2px solid rgba(168, 62, 62, 0.95);
   background: linear-gradient(rgb(33, 28, 28), rgb(60, 54, 54));
   color: rgb(255 255 255 / 90%);
   border-radius: 20em;
   line-height: 1;
   padding: 4px 8px;
   margin-right: 2px;
   margin-left: 2px;
   cursor: cell;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 
 .audio-button:hover .hide {
  display: inline-block;
  transition: 1s ease-in-out;
 }

 .audio-button:hover .hide:not(.audio-button) {
  visibility: visible;
  width: 150px;
  transition: 0.3s ease-in-out;
  color: red;
 }

 .audio-button:hover {
  justify-content: space-between;
  padding-right: 4%;
  transition: 0.5s ease-in-out;
 }

 .hide {
  width: 0px;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  transform: translateY(3px) translateX(15px);
  cursor: crosshair;
 }
 
  /* General styling for media buttons */
 .audio-button {
   border: 2px solid rgba(168, 62, 62, 0.95);
   background: linear-gradient(rgb(33, 28, 28), rgb(60, 54, 54));
   color: rgb(255 255 255 / 90%);
   border-radius: 20em;
   cursor: cell;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   transition: 1s ease-in-out;
 }

input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  outline: none;
  overflow: hidden;
  height:15px;
  border: 2px solid rgba(168, 62, 62, 0.95);
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(60, 54, 54);
  border-radius: 16px;
  height:15px;
}


input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height:15px;
  -webkit-appearance: none;
  appearance: none; 
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid rgba(168, 62, 62, 0.95);
  box-shadow: -407px 0 0 400px rgba(168, 62, 62, 0.95);
}